<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b7310176-210f-4dcd-9403-dd1b8480a3dd/resourceGroups/PublishApiResource/providers/Microsoft.ContainerRegistry/registries/PublishApiContainers</ResourceId>
    <ResourceName>PublishApiContainers</ResourceName>
    <ResourceGroup>PublishApiResource</ResourceGroup>
    <Subscription>Azure Pass - Sponsorship</Subscription>
    <RegistryUrl>https://publishapicontainers.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8c9fe9e4-3a8f-4e7b-81a8-cee9e0fb8d1f</ProjectGuid>
  </PropertyGroup>
</Project>